############################
# Maven
############################
target/
!.mvn/wrapper/maven-wrapper.jar

############################
# Logs
############################
*.log

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# IntelliJ
############################
.idea/
*.iml
*.iws
*.ipr

############################
# Eclipse / STS
############################
.project
.classpath
.settings/
.springBeans
.sts4-cache/

############################
# VS Code
############################
.vscode/

############################
# Build
############################
build/

############################
# Temporary files
############################
*.tmp
*.temp
*.swp

############################
# Application secrets
############################
application-local.properties
application-dev.properties
.env